*.iml
.gradle
bin
.kotlin
/local.properties
.idea/*
.vscode/*
!.idea/codeStyles
!.idea/dictionaries
!.idea/.gitignore
!.idea/.name
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/gradle-user-home
/profile-out*
