name: Build and test on push or pull request

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: Build
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v6
    - name: Set up JDK 21
      uses: actions/setup-java@v5
      with:
        java-version: '21'
        distribution: 'temurin'

    # Configure Gradle for optimal use in GitHub Actions, including caching of downloaded dependencies.
    # See: https://github.com/gradle/actions/blob/main/setup-gradle/README.md
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@f29f5a9d7b09a7c6b29859002d29d24e1674c884 # v5.0.1
      with:
        build-scan-publish: true
        build-scan-terms-of-use-url: "https://gradle.com/terms-of-service"
        build-scan-terms-of-use-agree: "yes"
        cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}

    - name: Build with Gradle Wrapper
      env:
        tmdbApiKey: ${{ secrets.TMDB_API_KEY }}
      run: ./gradlew assembleDebug "-PtmdbApiKey=\"$tmdbApiKey\""

  test:
    name: Unit tests
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'

      # Configure Gradle for optimal use in GitHub Actions, including caching of downloaded dependencies.
      # See: https://github.com/gradle/actions/blob/main/setup-gradle/README.md
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@f29f5a9d7b09a7c6b29859002d29d24e1674c884 # v5.0.1

      - name: Run Debug Tests
        env:
          tmdbApiKey: ${{ secrets.TMDB_API_KEY }}
        run: ./gradlew testDebugUnitTest --continue "-PtmdbApiKey=\"$tmdbApiKey\""

      - name: Upload Test Reports
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: test-report
          path: '**/build/reports/tests/'

  screenshots:
    name: Screenshots
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'gradle'
      - name: Setup Android SDK
        uses: android-actions/setup-android@v3
      # Configure Gradle for optimal use in GitHub Actions, including caching of downloaded dependencies.
      # See: https://github.com/gradle/actions/blob/main/setup-gradle/README.md
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@f29f5a9d7b09a7c6b29859002d29d24e1674c884 # v5.0.1
      - name: Run screenshot validations
        env:
          tmdbApiKey: ${{ secrets.TMDB_API_KEY }}
        run: ./gradlew :app:validateScreenshotTest :feature:movies:ui:validateScreenshotTest :shared:ui:validateScreenshotTest --continue "-PtmdbApiKey=\"$tmdbApiKey\""
      - name: Upload Screenshot Test Reports
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: screenshot-test-report
          path: |
            app/build/reports/screenshotTest/
            feature/movies/ui/build/reports/screenshotTest/
            shared/ui/build/reports/screenshotTest/

  # Mac Silicon does not work
  # https://github.com/ReactiveCircus/android-emulator-runner/issues/350
  # https://github.com/actions/runner-images/issues/9460
  android-test:
    name: UI tests
    runs-on: ubuntu-latest

    strategy:
      matrix:
        api-level: [28, 34]

    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'

      # Configure Gradle for optimal use in GitHub Actions, including caching of downloaded dependencies.
      # See: https://github.com/gradle/actions/blob/main/setup-gradle/README.md
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@f29f5a9d7b09a7c6b29859002d29d24e1674c884 # v5.0.1

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Enable KVM group perms
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm

      - name: AVD cache
        if: false # temporarily disable cache
        uses: actions/cache@v5
        id: avd-cache
        with:
          path: |
            ~/.android/avd/*
            ~/.android/adb*
          key: avd-${{ matrix.api-level }}

      - name: Create AVD and generate snapshot for caching
        if: steps.avd-cache.outputs.cache-hit != 'true'
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: ${{ matrix.api-level }}
          arch: x86_64
          force-avd-creation: false
          emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: false
          script: echo "Generated AVD snapshot for caching."

      - name: Run Android tests
        uses: reactivecircus/android-emulator-runner@v2
        env:
          tmdbApiKey: ${{ secrets.TMDB_API_KEY }}
        with:
          api-level: ${{ matrix.api-level }}
          arch: x86_64
          force-avd-creation: false
          emulator-options: -no-snapshot-save -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: true
          script: |
            ./gradlew app:connectedAndroidTest "-PtmdbApiKey=\"$tmdbApiKey\""
            killall -INT crashpad_handler || true

      - name: Upload Test Reports
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: android-test-report-${{ matrix.api-level }}
          path: '**/build/reports/androidTests/connected/'

  static-analysis:
    name: Execute static analysis
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'

      # Configure Gradle for optimal use in GitHub Actions, including caching of downloaded dependencies.
      # See: https://github.com/gradle/actions/blob/main/setup-gradle/README.md
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@f29f5a9d7b09a7c6b29859002d29d24e1674c884 # v5.0.1
      - name: Run detekt
        env:
          tmdbApiKey: ${{ secrets.TMDB_API_KEY }}
        run: ./gradlew detektAll "-PtmdbApiKey=\"$tmdbApiKey\""
