name: Lines of Code

on:
  schedule:
    - cron: '0 19 * * *' # Runs every day at 7 PM UTC
  workflow_dispatch: # Allows manual triggering

jobs:
  upload_loc:
    name: Upload Lines of Code to New Relic
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v6

      - name: Set up Kotlin
        uses: fwilhe2/setup-kotlin@main
        with:
          version: '2.1.0'

      - name: Run Lines of Code Script
        env:
          NEW_RELIC_API_KEY: ${{ secrets.NEW_RELIC_LICENSE_KEY }}
        run: kotlin .github/script/upload_loc.main.kts
